@{
    ViewData["Title"] = "Domain";
}

@* ************** Content ************** *@
<div class="row">
    <!-- Order Statistics -->
    <div class="col-md-12 col-lg-12 col-xl-12 order-0 mb-6">
        <div class="card">
            <div class="card-header d-flex justify-content-between">
                <div class="card-title mb-0">
                    <h5 class="mb-1 me-2">Order Statistics</h5>
                    <p>Lam vao day</p>
                </div>
            </div>
        </div>
    </div>
</div>
